{% load static %}

<style>
  .navbar-nav .nav-link.active {
    color: #008a8a !important;
    font-weight: bold;
  }
</style>

<!-- Topbar Start -->
<div class="container-fluid bg-light pt-3 d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
        <div class="d-inline-flex align-items-center">
          <p class="mb-0"><i class="fa fa-envelope me-2"></i>info@example.com</p>
          <p class="text-body px-3 mb-0">|</p>
          <p class="mb-0"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</p>
        </div>
      </div>
      <div class="col-lg-6 text-center text-lg-end">
        <div class="d-inline-flex align-items-center">
          <a class="px-2" href="#"><i style="color: #00cccc;" class="fab fa-facebook-f"></i></a>
          <a class="px-2" href="#"><i style="color: #00cccc;" class="fab fa-twitter"></i></a>
          <a class="px-2" href="#"><i style="color: #00cccc;" class="fab fa-linkedin-in"></i></a>
          <a class="px-2" href="#"><i style="color: #00cccc;" class="fab fa-instagram"></i></a>
          <a class="ps-2" href="#"><i style="color: #00cccc;" class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid position-relative nav-bar p-0">
  <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
    <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 px-3">
      <a href="/" class="navbar-brand">
          <h1 class="m-0" style="color: #00cccc;">
          <span style="color: #000000;">Inmo</span>valor
        </h1>
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <a href="/" class="nav-item nav-link {% if request.path == '/' %}active{% endif %}" style="color: #00cccc;">Inicio</a>
          {% if user.is_authenticated %}
            <a href="/estimaciones" class="nav-item nav-link {% if request.path == '/estimaciones' %}active{% endif %}" style="color: #00cccc;">Estimación</a>
            <a href="/logout" class="nav-item nav-link" style="color: #ff4d4d;">Cerrar sesión</a>
          {% else %}
            <a href="/signin" class="nav-item nav-link {% if request.path == '/signin' %}active{% endif %}" style="color: #00cccc;">Iniciar sesión</a>
            <a href="/signup" class="nav-item nav-link {% if request.path == '/signup' %}active{% endif %}" style="color: #00cccc;">Registrarse</a>
          {% endif %}
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Navbar End -->
